.li {
  background-color: #f0feff;
  margin-bottom: 10px;
  border-radius: 0.23rem;
  padding-top: 20px;
}

.left {
  height: 217px;
  margin-bottom: 1em;
}

.right {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 1em;
}

.anchor {
  text-decoration: none;
  color: inherit;
}

.img {
  display: inline-block;
  background-position: center;
  background-size: cover;
  border-radius: 0.2rem;
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 768px) {
  .left .right {
    margin-bottom: 0;
  }
}
